.header {
  &-secondary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 19px;

    .header-title {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      align-self: center;
      justify-self: start;
    }

    .header-controls {
      grid-column: 2 / -1;
      grid-row: 1 / span 1;

      .header-search {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        border: 1px solid $gray-primary;
        button {
          border: none;
          background: none;
        }
        input {
          border: none;
        }
      }

      @include media-breakpoint-up(lg) {
        display: flex;
        flex-direction: row;
        gap: 25px;
      }
    }

    div:nth-of-type(2) {
      font-size: 19px;
      padding-left: 18px;
      align-self: center;
      font-family: Baskerville Old Face BQ, regular;
      text-transform: uppercase;
    }

    ul {
      display: flex;
      justify-content: flex-end;
      gap: 25px;
      padding-right: 37px;
    }
  }

  &-bottom {
    .header-primary {
      background: $brand-primary no-repeat padding-box;
      width: 375px;
      height: 50px;

      ul {
        display: flex;
        justify-content: space-between;
        /* padding-left: 34.5px; */
        color: white;
        gap: 52.53px;
        align-items: center;
        padding-top: 10px;
        padding-left: 34.5px;
        padding-right: 34.5px;

        li:last-child {
          display: grid;
          border: 0.2px solid $gray-primary;
          font-size: 10px;
          width: 227px;
          height: 30px;
        }
      }
    }

    .banner-main {
      background: url('/public/images/banner/banner-02.png') no-repeat center
        center / cover;
    }

    button {
      border: none;
      background: none;
      color: $gray-primary;
    }
    input {
      border: none;
      background: none;
      color: $gray-primary;
    }
  }
}

// .header {
//   &-secondary {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
//     padding-top: 18px;

//     div:nth-of-type(2) {
//       font-size: 19px;
//       padding-left: 18px;
//       align-self: center;
//       font-family: Baskerville Old Face BQ, regular;
//       text-transform: uppercase;
//     }
//     ul {
//       display: flex;
//       flex-direction: row;
//       gap: 25px;
//       padding-right: 37px;
//     }
//   }

//   &-controls {
//     .fa-solid {
//       font-size: large;
//     }
//     .fa-regular {
//       font-size: large;
//     }
//   }
// }
